.mylogo {
  transition: all 0.5s ease-in-out;
}
.link {
  transition: all 0.5s ease-in-out;
}
.icon {
  animation: icon 1s ease-in-out;
}

.link:hover {
  text-decoration: underline;
  scale: calc(1.2);
}
.mylogo {
  scale: calc(1.4);
}

.myround {
  animation: myround 8s ease-in-out;
}

.sectionone,
.bloctwo,
.blocthree,
.blocfour {
  position: relative;
  transition: all 0.5s ease-in-out;
}
.sectionone:hover,
/* .bloctwo:hover, */
.blocthree:hover,
.blocfour:hover {
  scale: calc(1.02);
}

.sectionone {
  position: relative;
  animation: sectionone 0.5s ease-in-out;
}
.sectiontwo {
  position: relative;
  animation: sectiontwo 0.5s ease-in-out;
}

@keyframes sectionone {
  0% {
    left: -100px;
  }
  25% {
    left: -75px;
  }
  50% {
    left: -50px;
  }
  75% {
    left: -25px;
  }
  100% {
    left: 0;
  }
}
@keyframes sectiontwo {
  0% {
    right: -100px;
  }
  25% {
    right: -75px;
  }
  50% {
    right: -50px;
  }
  75% {
    right: -25px;
  }
  100% {
    right: 0;
  }
}

@keyframes myround {
  0% {
    border-color: black;
    padding: 0 10px;
  }
  100% {
    border-radius: 100px;
    border: 6px;
    border-color: black;
    padding: 0 10px;
  }
}
